html, body {

	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

body,
html {
	/*position: fixed;*/
}

h3 {
	font-family: 'Hind', sans-serif;
}

h4 {
	color: #2D3C77;
}

textarea:focus, input:focus {
	outline: none;
}

#Jarvis {
	border: 1px solid gray;
	border-radius: 20px;
}

.background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}

.changeMode {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
	border-top: 1px solid #ccc;
}
.changeMode.goOpen {
	right: 110px;
}
.changeMode.goCollective {
	right: 55px;
}
.changeMode.goPrivate {
	right: 0;
}

header .homeCore > div,
header .users {
	z-index: 2;
}

.gsapAnim {
	opacity: 0;
}

.invited {

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;

}

.inputsInvited {

	width: 25%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;

}

.inputsInvited p {

	margin-left: 5px;
	color: #2D3C77;
	font-size: 17px;
	position: relative;
	bottom: 5px;

}

.inputsInvited span {
	border: 1px solid #2D3C77;
	background-color: white;
	border-radius: 3px;
	display: inline-block;
	width: 22px;
	height: 22px;
}

.invitedCheckbox {
	background-color: white;
	width: 16px;
	height: 16px;
	margin-top: 3px;
	-webkit-appearance: button;
	border-radius: 3px;

}

.invitedCheckbox:checked {
	background-color: #ccc;
}

.homeCore {

	width: 98%;
	height: 95vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;

}

.users_container {
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.users {
	width: 30%;
	min-width: 400px;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	border: 1px solid gray;
	border-top: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white;
}

.nieuws {

	width: 25%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.rssFeed {

	width: 95%;
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	padding-right: 1px;
	border-radius: 5px;
	background-color: white;

}

.rssFeed iframe {
	height: 95% !important;
}

.calendar {

	width: 60%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.calendarHeaders {

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.picker * {
	z-index: 99999;
}

/* Modes */
.private {
	background: url('../media/backgrounds/private_mode.png');
}

.collective {
	background: url('../media/backgrounds/collective_mode.png');
}

.open {
	background: url('../media/backgrounds/open_mode.png');
}

/** calendar week view */

.blurry-text {
	text-shadow: 0 0 5px white;
	color: transparent !important;
}

.event {
	position: absolute;
	top: 0;
	width: 100%;
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	z-index: 2000;
	word-wrap: break-word;
}

.event h5 {
	width: 100%;
	position: absolute;
	color: white;
	text-align: center;
	overflow: visible;
	z-index: 9999;
	margin: 0;
}

.scrollablediv {
	overflow-y: scroll;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0px;
	text-align: center;
	height: 100vh;
	width: 100%;
}

.column.hours {
	-ms-flex: 8%; /* IE10 */
	flex: 8%;
	max-width: 8%;
}

.hours h4 {
	margin: 0;
	height: 51px;
}

.column {
	-ms-flex: 13%; /* IE10 */
	flex: 13%;
	max-width: 13%;
	padding: 0px;
}

.row .column:last-child .whiteBlock {
	border-right: 1px solid #2D3C7788;
}

.whiteBlock:first-child {
	border-top: 1px solid #2D3C7788;
	margin-top: 10px;
}

.whiteBlock {
	width: 100%;
	height: 50px;
	padding: 0;
	border-left: 1px solid #2D3C7788;
	border-bottom: 1px solid #2D3C7788;
	position: relative;
}

.whiteBlock .row {
	height: 100%;
	padding-left: 1px;
	padding-right: 1px;
}

.block-30 {
	-ms-flex: 33%; /* IE10 */
	flex: 33%;
	max-width: 33%;
	padding: 0px;
	height: 100%;
}

.block-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
	max-width: 50%;
	padding: 0px;
	height: 100%;
}

.block-100 {
	-ms-flex: 100%; /* IE10 */
	flex: 100%;
	max-width: 100%;
	padding: 0px;
	height: 100%;
}

.user {
	width: 100%;
	height: 100%;
}

#weekView h3 {
	text-align: left;
	color: #f65f59;
}

/***************************************************************************************************************************************/
/************************************************************ HOME CALENDAR STYLE ******************************************************/
/***************************************************************************************************************************************/

.agenda {

	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;

}

.agendaHeader {

	width: 95%;
	height: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 20px;
}

.agendaHeader h3 {

	text-align: center;
	color: #2D3C77;
	width: 80%;

}

.agendaHeader img {

	width: 25px;
	height: 25px;
	border-radius: 100%;
	cursor: pointer;

}

.agendaHeader img:hover {

	transition: transform 0.2s linear 0s;
	transform: scale(1.2, 1.2);

}

.agendaBody {

	width: 90%;
	height: 75%;

}

.agendaFooter {

	width: 90%;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin-top: 20px;

}

.monthsCont {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}

.weeksName {

	width: 100%;
	height: 50px;
	border-bottom: 1px solid #2D3C77;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 5px;

}

.weeksNameWeekView {

	width: 100%;
	height: 125px;
	border-bottom: 1px solid #2D3C77;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 5px;

}

.weeksName h3 {

	text-align: center;
	color: #2D3C77;
	margin-left: 9px;
	margin-right: 23px;
	margin-bottom: 0px;
	width: 12.5%;

}

.weeksNameWeekView h3 {

	text-align: center;
	color: #2D3C77;
	margin: 0 9px;
	width: 10.8%;

}

.weeksNameWeekView h3:first-of-type {
	width: 6%;
}

.days {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: auto;

}

.daysNumb {

	width: 14.1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 0;

}

.daysNumb p {

	width: auto;
	height: 80%;
	color: #2D3C77;
	text-align: center;
	font-size: 18px;
	cursor: pointer;

}

.daysNumb:hover p {

	transform: scale(1.4, 1.4);
	color: #F65F59;

}

.eventNotification {

	width: 30px;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -10px;
	margin-bottom: 0px;

}

.notificationBar {

	margin: 1px;

}

.eventsOwner {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.owner {
	width: 30%;

}

.owner span {
	display: block;
	padding: 4px;
	margin: 0 3px 0 0;
}

.owner span i.fa {
	display: none;
}

.owner span.filterActive {
	display: block;
	border: 1px solid #0070C0;
	border-radius: 3px;
	padding: 2px;
}

.owner span.filterActive i.fa {
	display: block;
	float: right;
	padding-top: 3px;
	color: #000;
}

#resetFilter {
	width: 100%;
}

#resetFilter button {
	border: 1px solid red;
	background-color: red;
	color: white;
	width: 200px;
}

#bored {

	width: 150px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 17px;
	color: white;
	border: 1px solid #F65F59;
	border-radius: 5px;
	background-color: #F65F59;
	cursor: pointer;

}

.tools {

	width: 15%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

#addNote {

	width: 95%;
	cursor: pointer;

}

#draw_note {
	z-index: 99999;
}

.displayNote {
	position: absolute;
	width: 450px;
	height: 350px;
	z-index: 10;
	background-color: #EDC438;
	border: 1px solid #BDB7A6;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Safari */
	transform: rotate(10deg);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}
.displayNote img {
	width: 100%;
}

.toolsHeader {

	width: 75%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;

}

.modes {

	width: 50px;
	height: 50%;
	text-align: center;

}

.modes h3 {

	text-align: left;
	color: #2D3C77;
	margin: 0px;

}

.modes p {

	text-align: left;
	font-size: 18px;
	color: #2D3C77;
	margin: 0px;

}

/* Audiowaves */

div#audiowaves {
	height: 50px;
	width: 60px;
	line-height: 50px;
	position: relative;
	text-align: right;
}

div#audiowaves > span {
	display: none;
	bottom: 0;
	width: 9px;
	height: 5px;
	background: #F65F59;
	position: absolute;
}

div#audiowaves.active > span {
	animation: audio-wave 1.5s infinite ease-in-out;
	display: block;
}

div#audiowaves.active > span:nth-child(2) {
	left: 11px;
	animation-delay: 0.2s;
}

div#audiowaves.active > span:nth-child(3) {
	left: 22px;
	animation-delay: 0.4s;
}

div#audiowaves.active > span:nth-child(4) {
	left: 33px;
	animation-delay: 0.6s;
}

div#audiowaves.active > span:nth-child(5) {
	left: 44px;
	animation-delay: 0.8s;
}

@keyframes audio-wave {
	0% {
		height: 5px;
		transform: translateY(0px);
		background: #F65F59;
	}
	25% {
		height: 40px;
		transform: translateY(20px);
		background: #F65F59;
	}
	/*effect is to animate the height of each span from 5px to 30px*/
	/*translateY makes Y axis move down to give the effect that it is growing from the center*/

	50% {
		height: 5px;
		transform: translateY(0px);
		background: #F65F59;
	}
	100% {
		height: 5px;
		transform: translateY(0px);
		background: #F65F59;
	}
}

#micro {

	width: 40px;
	height: 40px;
	border: 1px solid #F65F59;
	border-radius: 100%;
	background-color: #F65F59;
	cursor: pointer;
	color: #ffffff;
	margin-bottom: 10px;
	line-height: 40px;
	text-align: center;

}
#micro:hover {
	border-color: #c43932;
	background-color: #c43932;
}

#micro.active {
	border-color: #c43932;
	background-color: #c43932;
}

/***************************************************************************************************************************************/
/************************************************************ HOME WEATHER STYLE *********************************************************************/
/***************************************************************************************************************************************/

.weatherInfo {
	width: 95%;
	height: 30%;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
}

.weatherInfoPage {
	display: flex !important;
	flex-direction: column;
	justify-content: center;

}

.currentWeather {
	background-repeat: no-repeat;
	background-position: left top;
}

.tempDateInfo {

	width: 70%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

}

.tempDateInfoWeek, .tempDateInfoHourly {

	width: 99%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

}

.tempDateInfoDay, .tempDateInfoHour {

	width: 15%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #2D3C77;
	border-right: 1px solid #2D3C77;

}
.tempDateInfoDay:last-child, .tempDateInfoHour:last-child {
	border-right: 0;
}

.tempDateInfoDay h1, .tempDateInfoHour h1 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0;
}
.tempDateInfoHour h1 small {
	font-size: 14px;
}

.weatherIcon, .tempCelsius {
	display: block;
}

.temperature, .dateHour {

	width: auto;
	height: 100%;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.temperature {

	border-right: 1px solid #2D3C77;
	padding-right: 20px;

}

.temperature h1, .tempName, .dateHour p, .dateHour p {

	width: 100%;
	height: auto;
	text-align: left;
	color: #2D3C77;
	margin: 1px;

}

.temperature h1 {

	font-size: 40px;

}

.tempName, .dateHour p, .dateHour p {

	font-size: 20px;

}

.curDate {

	position: relative;
	top: 5px;

}

.weatherButts {

	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: -40px;
	position: relative;
	top: 10px;

}

.weatherButts img {

	width: 15px;
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;

}

/***************************************************************************************************************************************/
/************************************************************ STYLE ********************************************************************/
/***************************************************************************************************************************************/

/***************************************************************************************************************************************/
/************************************************************ STYLE ********************************************************************/
/***************************************************************************************************************************************/

.ui-widget-overlay {
	background: #000000;
	opacity: 0.6;
}